# تجاهل مجلد التحميلات
downloads/

# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل ملف الكوكيز (لأنه سيتم إنشاؤه من المتغيرات، لا ترفعه مكشوفاً)
cookies.txt

# تجاهل ملفات البيئة المحلية
.env
